:root{
    --color-background: #ebf2f5;
    --color-primary-lighter: #29B6D1;
    --color-primary: #00C7C7;
    --background-button-yellow: #ffd666;
    --background-button-transition: #96FEFF;
    --color-button-create: #15c3d6;
    --color-secondary-create-transition: #17d6eb;
    --color-background-popup: rgba(255, 255, 255, 0.8);
    --color-popup: #0089a5;
    --color-shadow-icon: rgba(23, 142, 166, 0.16);
    --color-box-base: #FFFFFF;
    --color-background-aside: #15B6D6;
  
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-box-base);
    background-color: var(--color-background);
}

body, input, button, textarea {
    font: 600 1.8rem Nunito, sans-serif;
}